page-radio-audio {
    .range-md .range-bar {
        background: rgba(255, 255, 255, 0.4);
    }
    .range-md .range-bar-active {
        bottom: 0;
        width: auto;
        background: color($colors, secondary);
    }
    .range-md .range-knob {
        background: color($colors, secondary);
    }
    ion-header {
        background-color: transparent !important;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios:after {
        border-bottom: 1px solid color($colors, secondary) !important;
        color: color($colors, secondary) !important;
    }
    .toolbar-background-ios {
        background: transparent;
        border-color: color($colors, secondary) !important;
    }
    .bar-button-default-ios {
        color: color($colors, secondary);
    }
    .toolbar-title-ios {
        color: color($colors, secondary);
    }
    ion-slides {
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        height: inherit;
    }
    ion-slide {
        align-items: inherit !important;
    }
    .scroll-content {
        overflow-y: hidden;
    }
    .justify-content-center {
        display: flex;
        justify-content: center;
    }
}
