page-radio-audio {
    .header-ios .toolbar-ios:last-child .toolbar-background-ios:after {
        border-bottom: 1px solid color($colors, secondary) !important;
        color: color($colors, secondary) !important;
    }
    .toolbar-background-ios {
        background: transparent;
        border-color: color($colors, secondary) !important;
    }
    .bar-button-default-ios {
        color: color($colors, secondary);
    }
    .toolbar-title-ios {
        color: color($colors, secondary);
    }
    ion-slides {
        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        height: inherit;
    }
    ion-slide {
        align-items: inherit !important;
    }
    .scroll-content {
        overflow-y: hidden;
    }
}
