<div id="{{videoConfig?.id}}" class="video-player" (touchstart)="touchStart()" (touchend)="touchEnd()">
    <div class="video-player-wrap">
        <video class="video-current" [poster]="videoConfig?.poster" [src]="videoConfig?.src" webkit-playsinline playsinline preload="auto">

        </video>
    </div>
    <div class="video-player-controller">
        <ion-range min="0" [max]="duration" [(ngModel)]="saturation" color="secondary" (ionFocus)="rangeTouchStart()" (ionBlur)="rangeTouchEnd()" class="range-md">
        </ion-range>
        <div class="video-player-icons-left">
            <button type="button" [disabled]="seeking" tappable (click)="toPlay()">
                <ion-icon class="icon icon-md ion-md-play" *ngIf="!isPlay"></ion-icon>
                <ion-icon class="icon icon-md ion-md-pause" *ngIf="isPlay"></ion-icon>
            </button>
            <span class="video-time">
                <span class="player-ptime">{{ currentTime }}</span> /
                <span class="player-dtime">{{ totalTime }}</span>
            </span>
        </div>
        <div class="video-player-icons-right">
            <button type="button" tappable (click)="toFull()">
                <ion-icon class="icon icon-md ion-md-expand" *ngIf="!fulled"></ion-icon>
                <ion-icon class="icon icon-md ion-md-contract" *ngIf="fulled"></ion-icon>
            </button>
        </div>
    </div>
    <div class="spinner-circles-box" *ngIf="seeking">
        <div class="cp-spinner cp-round">
            
        </div>
    </div>
</div>
