page-movie-subject {
    .cover-image-box {
        width: 100%;
        height: 100vw;
        padding: 15px 0;
        img {
            display: block;
            margin: 0 auto;
            height: 100%
        }
    }
}