page-movie-subject {
    ion-content {
        background-size:100% 90vw !important;
        background-repeat: no-repeat !important;
    }

    .ion-header-bg {
        background-color: color($colors, secondary) !important;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios:after {
        border-bottom: 0 !important;
    }
    .toolbar-background-ios {
        background: transparent !important;
        border-color: transparent !important;
    }
    .bar-button-default-ios {
        color: #ffffff;
    }
    .toolbar-title-ios {
        color: #ffffff;
    }

    .movie-info {
        margin-top: 2px;
        width: 100%;
        height: 90vw;
        color: #ffffff;
        background-color: rgba(133, 139, 139, 0.9);

        ion-grid, ion-row, ion-col {
            padding: 0;
            height: 100%;
        }
    }

    .rating-box {
        width: 100%;
        .info {
            width: 100%;
            padding: 2px 0;
            overflow: hidden
        }
        .range {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: color($colors, light);
        }

        .average-text {
            color: color($colors, secondary);
            font-size: 16px;
        }

        .rgba {
            width: 0;
            height: 2px;
            border-radius: 2px;
            background: color($colors, secondary);
        }

        .count {
            width: 100%;
            padding: 2px 0;
            overflow: hidden
        }
    }

    /*******************
    section
    *******************/
    section {
        margin: 0;
        overflow: hidden;
        background-color: #fff;
        header {
            padding: 0 15px;
            h2 {
                display: inline-block;
                margin: 0;
                font-size: 14px;
                color: #666;
            }
        }
        .section-content {
            white-space: nowrap;
            height: 200px;
            .item:first-child {
                margin-left: 15px;
            }
            .item:last-child {
                margin-right: 15px;
            }
            .item {
                padding-top: 15px;
                margin-left: 8px;
                display: inline-block;
                vertical-align: top;
                width: 100px;
                text-align: center;
            }
            .item-poster {
                width: 100%;
                height: 120px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
            }
            .item-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                margin-top: 6px;
            }
        }
    }
}