// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@for $size from 0 through 20 {
    @each $position in top,
    left,
    right,
    bottom {
        .margin-#{$position}-#{$size} {
            margin-#{$position}: 1px * $size !important;
        }
        .padding-#{$position}-#{$size} {
            padding-#{$position}: 1px * $size !important;
        }
    }
    .margin-#{$size} {
        margin: 1px * $size !important;
    }
    .font-size-#{$size} {
        font-size: 1px * $size !important;
    }
}


/*******************
toast
*******************/

.toast-ios .toast-wrapper {
    background: rgba(66, 189, 86, 0.9);
}


/*******************
ionic
*******************/

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: color($colors, secondary);
}
// 在android中没0.4px, 以下是实现android中0.4px样式 start
$tabbar-border-color: rgba(0, 0, 0, 0.3);
$border-color: #c8c7cc;
.platform-android {
    .ion-page {
        ion-header {
          padding-top: $cordova-md-statusbar-padding;
          background-color: color($colors, secondary);
        }
      }
    .tabs-ios .tabbar {
        border-top: 0;
    }
    .list-header-ios {
        border-bottom: 0;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0;
    }
    .list-ios>.item-block:last-child {
        border-bottom: 0;
    }
    .action-sheet-ios .action-sheet-title {
        border-bottom: 0;
        position: relative;
    }
    .action-sheet-ios .action-sheet-button {
        border-bottom: 0;
        position: relative;
    }
    .list-ios>.item-block:first-child {
        border-top: 0;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-bottom: 0;
        border-width: 0;
    }
    .alert-ios .alert-button {
        position: relative;
        border-top: 0;
        border-right: 0;
    }
    .tabs-ios .tabbar:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid $tabbar-border-color;
        color: $tabbar-border-color;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    .list-ios .item-block .item-inner:after {
        content: " ";
        position: absolute;
        left: 16px;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .list-header-ios:after,
    .action-sheet-ios .action-sheet-title:after,
    .action-sheet-ios .action-sheet-button:after,
    .header-ios .toolbar-ios:last-child .toolbar-background-ios:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .thumbnail-list .item-block .item-inner:after {
        content: " ";
        position: absolute;
        left: 88px;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .avatar-list .item-block .item-inner:after {
        content: " ";
        position: absolute;
        left: 60px;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .icon-list .item-block .item-inner:after {
        content: " ";
        position: absolute;
        left: 50px;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .list-ios>.item-block:last-child:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        z-index: 2;
    }
    .list-ios>.item-block:first-child:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid $border-color;
        color: $border-color;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    .list-ios .item-block:last-child .item-inner:after {
        display: none;
    }
    .alert-ios .alert-button:after {
        content: " ";
        width: 1000%;
        height: 1000%;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        box-sizing: border-box;
    }
    .alert-ios .alert-button:last-child:after {
        border-right: 0;
        border-left: 1px solid $border-color;
    }
}

// 在android中没0.4px, 以下是实现android中0.4px样式 end
// 黑胶唱片机 start
@-webkit-keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.m-song-playing {
    -webkit-animation: circling 20s infinite linear;
    animation: circling 20s infinite linear;
}

.m-song-footer {
    position: absolute;
    top: 358px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-footer-btns {
    button {
        background: transparent;
        color: color($colors, secondary);
        width: 56px;
        height: 56px;
        border-radius: 56%;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.activated {
        opacity: 0.8;
    }
    .play-btn {
        border: 0.55px solid color($colors, secondary);
    }
}

.platform-android {
    .play-btn {
        border: 1px solid color($colors, secondary);
    }
}

.m-song-wrap {
    padding-top: 63px;
}

.m-song-wrappause .m-song-img,
.m-song-wrappause .m-song-turn:after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.m-song-wrapstop .m-song-img,
.m-song-wrapstop .m-song-turn:after {
    -webkit-animation: none;
    animation: none;
}

.m-song-disc {
    position: relative;
    width: 248px;
    height: 248px;
    margin: 0 auto;
}

.m-song-disc-after {
    content: " ";
    position: absolute;
    top: 47px;
    left: 50%;
    z-index: 10;
    width: 84px;
    height: 122px;
    background: url(../assets/images/needle.png) no-repeat;
    background-size: contain;
    margin-left: -15px;
}

.m-song-turn {
    width: 100%;
    height: 100%;
}

.m-song-turn:before {
    z-index: 2;
    background: url(../assets/images/disc.png) no-repeat;
    background-size: contain;
}

.m-song-turn:after,
.m-song-turn:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.m-song-turn:after {
    z-index: 3;
    background: url(../assets/images/disc_light.png) no-repeat;
    background-size: contain; // -webkit-animation: circling 20s infinite linear;
    // animation: circling 20s infinite linear;
}

.m-song-img {
    width: 150px;
    height: 150px;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../assets/images/disc_default.png) no-repeat;
    background-size: contain; // -webkit-animation: circling 20s infinite linear;
    // animation: circling 20s infinite linear;
}

.m-song-img,
.m-song-plybtn {
    position: absolute;
    left: 50%;
    top: 50%;
}

.m-song-plybtn {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAACoCAMAAABDlVWGAAABJlBMVEUAAAAAAAD////l5eX///9iYmKDg4Pn5+f///9YWFj////09PT////4+Pjt7e3///////9oaGhBQUH////////////////CwsIaGhr///8xMTEkJCT////7+/vp6en///////////////+srKyoqKienp58fHz////y8vKTk5P///8EBAT////////////////V1dW3t7f////////////////////v7++jo6N9fX3///////+UlJT////s7Oz////Nzc3///////+RkZGPj495eXkTExP////////29vb////k5OTPz882Njb////////////c3Nz///////9ycnJsbGz///9dXV3////////Q0ND///9QUFD///////////////////9FeiN6AAAAYXRSTlNmAP3c+oWT3ueB9vA19ealRId5EQbuurpu83RxD/nh05dfAquooo+M7JtzaSolE+vMspJ3Wj7w6KSQj6ucKeXNxLWnmpmObVYd8t3axXZRSt7TvbKLideCeSzHnn4V3Nh6YarbPAAABlRJREFUeNrU14lWEmEYh/GXcdj3HQTZRCkS913UNE2zbLd9Oc/930Q2LmVpwPAC03MD/M5835n/IC6dkqHnzcVoZvdkLp2HfHruZDcTXWw+DyVdOilAt6uNjI8782Ua1W2XjTShtdDSmzRdlH6zFKq5bKQBTS5H57gqXJrP1tsb7kShkBPJFQoJ90a7np0vhblqLrrc8R7oQ4vVPZOLIp8mp8flzsanJ59FuMjcqxZdHVKFxvYDWK1lPQXpooInu4ZVYD/m6pAWNLn0DSvvekJ6KLHuxerb0qyrQwrQViV/oZzKSc/lpi6sgUrLdSN16MyWARBcOBWbnS4EAYytj67r1KGtqMUseaSvPCWLGr14u+pDZysmwFhc+i4+BmBWZgcATTXTFvO9qOS3qOlmShu68g7A6xa13F6A7yuq0ORnA9jZENU2dgDjc1IPGvMB4QNR7+AJ4IspQVObBjDmF+Wur6qxmdKAbpeBoEcGlCcIlLf7hx7lOzxOlYeaP+oTmmoYQFsGWhswGql+oMUMEInLgItHgEzRPvS43OHYVY+/fGwXGvIBkzKU6oAvZA8aywOPZEg9AvIxO9AXAZg4lKF1OAGBF71DX5jw5EyG2NkTMJ/3Co2ZcM8tQ819D8xYb9CVgA2nijSw0gs0tArBzk59aRBWQ91Dj30QjssIiofBd9wttFiGiTMZSWcTUC52B629Bg5lRB0Cr2tdQRvAfRlZ94FGN9AjA+oywupgHHWGzuRhTEbaGORnOkFTZYj4ZaT5I1BOdYBuAnEZcXFg89/QmAFtGXltMGL/ghZ9I7+g19fUV/wHtAJBvzggfxAqd0NXDPCII/KAsXIXNPXOIQd/efjvUndAmxB2xMH/zB+G5u3Qr2k4EMd0AOmvt0IrsCMOagcqt0FbJkyLg5oGs3ULNApecVReiP4NnTHALY7KDcbHv6BbDno1XTUGW39CWwa8F4flB6P1B3TRgQ/UeqSLN6GzAQd83f1dHAKzN6AfoCQOrARLN6Andr9GpiITT9/KwPLAye/QGATFTusAxsOCDKogxH6D7sOC2GkNq+B9GVALsP8LWgzAqdjJ4LJXCRlIpxAoXkOrtteT6yYmH8gg8kL1GroHU/1CoTSQBZ6CvSto0oRc/1DM7GNRLwdm8hK6DF5RgMI9j6jnheVLaBTWdaAwPy7KrUP0Alqbg4QWlPCU6JaAuZoFDcGaqEHh6RdRLQIhC/oBsppQzAXVN1UWlixoBjyqUIhozr8H3vyE1lYhpwnVnv8CpH9CZyAi2lAIPtK8pDPn0Cp8UoWqz/8zqJ5DGzCpCdWf/0lonEMzMK0J1Z//acicQ30wrgnVn/9x8LkkCWFRherPfxiSEgKvLlR//r0QkmWY14Xqz/88LEsTsqpQ/fm3RlQWoa4L1Z//OixKFNq6UP35vw9RycDGMKAYD3P9vEhlF9y6UP35d8OuvISELlR//hPwUqxh0oTqz781TbIKueFB4em4rb/Mq5IfMpRn0nOPIS+ADBUatvcz/w/0B/X2VgMACMNQ9AMnWOADKwT/QuahyZYcDcte7e146X9W+vFmWmEzOeOJGfjMCmWOEubMYw7no7wizHPHvMuMAMFIOo5IxsiOjJDLSOOM2cDYN44hxliMjGnL2OAOWMCgGgz84uBEDKDFIG8ORLhzLPO2Y5kK6PpMdJiBsR28nQkMOBEMJtTixISY4JUTZWPCgVXevesgCINhGG7dZPLEIg7GRRsMTsaoMTEOnmLUuBgn+e//JuTHGt0aKT3y3QIFpj6vO9ctnbnAmr9PIysefn0E0PfhkjW92HFtnQHULn5AAG9aISZGF3NaQYxVrInRrcVYBW4H5vkPEPIfuIV5UGXhClHT8Qv9oXQ/MckoTfb+wVTGqK8ZUl9+4mmUnpGj03pOmzlH5y/w5w6ZiAil+G9qA0KpkfWMTxKsJ6530wel3try9CwjSscg27BTDcw321gHjzyuEjj9IbwP1hPeDqHo2abP0pn5XMR/NhTB/fyo2gv3q0gh1JSkEHCrUuMSG1VxCdxDOtfR1ZDr4AGUwIUACi5JJZMyx1RHUgY3kIn0LBuFQk2EFlv7J3t0+id7JPi86wlJsfm9FUVbQrZR1LrPmQ0hKZfSXC7Fzr5LeD7uGoYBQBCGV56PS2g5ewGy+NkUNbjr9gAAAABJRU5ErkJggg==) 0 0 no-repeat;
    background-size: contain;
}

@media screen and (min-width:360px) {
    .m-song-footer {
        top: 413px;
    }
    .m-song-wrap {
        padding-top: 70px;
    }
    .m-song-disc {
        width: 296px;
        height: 296px;
    }
    .m-song-disc-after {
        width: 96px;
        height: 137px;
        top: 47px;
        left: 50%;
        background-image: url(../assets/images/needle-ip6.png);
    }
    .m-song-turn:before {
        background-image: url(../assets/images/disc-ip6.png);
    }
    .m-song-turn:after {
        background-image: url(../assets/images/disc_light-ip6.png);
    }
    .m-song-img {
        width: 184px;
        height: 184px;
        margin: -92px 0 0 -92px;
    }
    .m-song-plybtn {
        width: 56px;
        height: 56px;
    }
}

@media screen and (min-width:414px) {
    .m-song-footer {
        top: 469px;
    }
    .m-song-wrap {
        padding-top: 80px;
    }
    .m-song-disc {
        width: 342px;
        height: 342px;
    }
    .m-song-disc-after {
        width: 110px;
        height: 157px;
        top: 47px;
        left: 50%;
        background-image: url(../assets/images/needle-plus.png);
    }
    .m-song-turn:before {
        background-image: url(../assets/images/disc-plus.png);
    }
    .m-song-turn:after {
        background-image: url(../assets/images/disc_light-plus.png);
    }
    .m-song-img {
        width: 212px;
        height: 212px;
        margin: -106px 0 0 -106px;
    }
    .m-song-plybtn {
        width: 65px;
        height: 65px;
        background-image: url(../assets/images/play_btn_3x.png);
    }
}

// 黑胶唱片机 start
